.root {
  display: flex;
  width: 100%;
}

.search {
  background: white;
  padding: 8px 0;
  flex: 1;
}

.contentLeft {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding: 0  16px 0 16px;
}

.contentRightDesktop {
  position: sticky;
  bottom: 0;
  align-self: flex-end;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.contentRightMobile {
  position: fixed;
  padding-top: 42px;
  background: $white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 20;
}

.backButtonContainer {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 30;
  padding: 8px;
}

.animatedItem {
  position: relative;
}


@media only screen and (max-width: $screenTablet) {
  .contentLeft {
    flex-basis: 100%;
  }
}



