.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 8px;
  padding: 8px;
  font-size: 14px;
  font-weight: $fontWeightMedium;
  font-variant: small-caps;
  background: rgba($black, 20%);
}

.bgGrey {
  background: rgba($black, 20%);
}

.bgWhite {
  background: $white;
}

.bgTransparent {
  background: transparent;
}
