.root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  font-size: $fontSizeRegular;
  font-weight: $fontWeightMedium;
  font-variant: small-caps;
  background: rgba($black, 20%);
}

.bgGrey {
  background: rgba($black, 20%);
  color: $white;
}

.bgWhite {
  background: $white;
  color: $grey3
}

.bgTransparent {
  background: transparent;
}
