
$primary: #76D5D8;
$secondary: #293139;

$black: #000000;
$white: #FFFFFF;

$grey1: #D0D2D3;
$grey2: #6C6E70;
$grey3: #3E454C;


$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;


:export {
  black: $black;
}

// screen sizes

$screenMobile: 320px;
$screenTablet: 768px;
$screenSmallDesktop: 1024px;
$screenDesktop: 1366px;
$screenLargeDesktop: 1440px;

